body {
    margin: 0;
    padding: 0;
    background-color: #121214;
    color: #E1E1E6;
    font-family: 'League Spartan', 'Work Sans', sans-serif;
    height: 100vh; 
    width: 100vw;
    display: flex;
    /* --title-color: #04D361; */
    /* --form-color: #A8A8A8; */
    /* --bg-button-color: #8257e5; */
}



/* LEFT WITH CONTENT  */
.title > img {
    height: 30%;
    width: 30%;
}






/* RIGHT WITH PICTURE  */
/* .right {
    background-repeat: no-repeat; 
    background-size: 50%; 
    background-size: cover; 
    width:50%; 
    height:50%; 
    overflow: hidden; 
    padding: 0; 
} */
